@import "src/styles/style.scss";

.accordion-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 220px;
  height: 100vh;
  background: lighten($app-color-bg, 10%);
  color: $app-color-text;
  padding: 1.5rem 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Kanit", sans-serif;
}

.accordion-nav h2 {
  background: none;
  display: flex;
  justify-content: center;
  border: none;
  font-size: 3em;
  margin-bottom: 1.2rem;
  cursor: default;
  color: $app-color-text;
  font-weight: 600;
}

.accordion-links-top {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  button {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0.5rem 1rem;
    background: $app-color-bg;
    color: $app-color-text;
    border-radius: 8px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
  }

  button:hover {
    background: $app-color-gradient;
    color: $app-color-bg;
  }
}

.accordion-links-bottom button {
  position: relative;
  display: flex;
  margin-bottom: 50px;
  text-align: center;
  padding: 0.5rem 1rem;
  background: $app-color-bg;
  color: $app-color-text;
  border-radius: 8px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}

.accordion-links-bottom button:hover {
  background: $app-color-gradient;
  color: $app-color-bg;
}
